:root {
	--ff-primary: stolzl, sans-serif;
	--ff-secondary: gravesend-sans, sans-serif;
	--ff-body: var(--ff-primary);
	--ff-heading: var(--ff-primary);
	--ff-product-heading: var(--ff-secondary);

	--fw-thin: 100;
	--fw-light: 200;
	--fw-book: 300;
	--fw-regular: 400;
	--fw-medium: 500;
	--fw-bold: 700;

	/* mobil 376px */

	/* https://fluidtypography.com */
	--fs-10-10: 0.625rem;
	--fs-12-10: clamp(0.625rem, 0.13vw + 0.595rem, 0.75rem); /* 10 mobile */
	--fs-12-12: 0.75rem;
	--fs-13-12: clamp(0.75rem, 0.065vw + 0.735rem, 0.813rem); /* 12 mobile */
	--fs-13-13: 0.813rem;
	--fs-14-12: clamp(0.75rem, 0.13vw + 0.72rem, 0.875rem); /* 12 mobile */
	--fs-14-13: clamp(0.813rem, 0.065vw + 0.797rem, 0.875rem); /* 13 mobile */
	--fs-14-14: 0.875rem;
	--fs-16-12: clamp(0.75rem, 0.259vw + 0.689rem, 1rem); /* 12 mobile */
	--fs-16-16: 1rem;
	--fs-18-12: clamp(0.75rem, 0.389vw + 0.659rem, 1.125rem); /* 12 mobile */
	--fs-22-12: clamp(0.75rem, 0.648vw + 0.598rem, 1.375rem); /* 12 mobile */
	--fs-24-12: clamp(0.75rem, 0.777vw + 0.567rem, 1.5rem); /* 12 mobile */
	--fs-26-14: clamp(0.875rem, 0.777vw + 0.692rem, 1.625rem); /* 14 mobile */
	--fs-26-16: clamp(1rem, 0.648vw + 0.848rem, 1.625rem); /* 16 mobile */
	--fs-26-20: clamp(1.25rem, 0.389vw + 1.159rem, 1.625rem); /* 20 mobile */
	--fs-32-20: clamp(1.25rem, 0.777vw + 1.067rem, 2rem); /* 20 mobile */
	--fs-36-14: clamp(0.875rem, 1.425vw + 0.54rem, 2.25rem); /* 14 mobile */
	--fs-40-20: clamp(1.25rem, 1.295vw + 0.946rem, 2.5rem); /* 20 mobile */
	--fs-60-24: clamp(1.75rem, 2.073vw + 1.263rem, 3.75rem); /* 24 mobile */
	--fs-60-28: clamp(1.75rem, 2.073vw + 1.263rem, 3.75rem); /* 28 mobile */
	--fs-375: clamp(6.25rem, 17.163vw + 2.217rem, 22.813rem);

	--lh-1_2: 1.2;
	--lh-1_25: 1.25;
	--lh-1_38: 1.38;
	--lh-1_5: 1.5;
	--lh-1_85: 1.85;

	/* Colors: */
	--color-blue-300: hsl(192, 100%, 50%); /*00CBFF*/
	--color-blue-400: hsl(216, 100%, 50%); /*0068FF*/
	--color-blue-600: hsl(215, 100%, 42%); /*0057D5*/

	--color-primary-400: hsl(197, 91%, 56%); /*#27B9F5*/
	--color-primary-400-50: hsla(197, 91%, 56%, 0.502);
	--color-primary-400-14: hsla(197, 91%, 56%, 0.14);
	--color-primary-800: hsl(235, 87%, 18%); /*#060D55*/
	--color-primary-800-backdrop: hsla(235, 87%, 18%, 0.85);
	--color-primary-800-backdrop-popup: hsla(235, 87%, 18%, 0.7);
	--color-primary-800-50: hsla(235, 87%, 18%, 0.502);
	--color-logo: hsl(189, 100%, 41%); /*#00B2D2*/

	--color-white: hsl(0, 0%, 100%);
	--color-gray-400: hsl(0, 0%, 92%); /*#EBEBEB*/

	--container-padding: clamp(30px, 22.345vw + -54px, 375px);
	--header-padding: clamp(14px, 4.275vw + -2.08px, 80px);
	--padding-side: clamp(40px, 3.125vw, 120px);
	--header-height: 80px;
	--footer-height: clamp(110px, 11.29vh, 150px);
	--footer-height: clamp(110px, 11.29svh, 150px);

	--border-radius-12: 12px;

	/*default animation*/
	--transition-default: 0.3s ease-in-out;

	/*default padding top of page*/
	--padding-top-section: 40px;
}
@media only screen and (min-width: 768px) {
	:root {
		--padding-top-section: 80px;
	}
}

@media only screen and (min-width: 2000px) {
	:root {
		--container-padding: calc((100vw - 1920px) / 2 + 200px);
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--ff-heading);
	font-style: normal;
}

/* Scrollbar */
::-webkit-scrollbar {
	width: clamp(0.2rem, 0.7vw, 30px);
	background: transparent;
}

::-webkit-scrollbar-track {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	background: transparent;
}
::-webkit-scrollbar-thumb {
	border-radius: 100px;
	background: var(--color-logo);
	border: 0.25em solid var(--color-logo);
}

/* firefox scroller */
@supports (scrollbar-color: red blue) {
	* {
		scrollbar-color: var(--color-primary-800) var(--color-primary-800);
		scrollbar-width: thin;
	}
}

html {
	background: linear-gradient(347deg, rgb(0, 87, 213) 0%, rgb(6, 13, 85) 34%, rgb(0, 77, 185) 68%, rgb(6, 13, 85) 100%)
		0% 0%;
	background-size: 100% max(5658px, 130%);
	position: relative;
}
body {
	font-family: var(--ff-body);
	font-style: normal;
}
main {
	min-height: 100vh;
}
@media only screen and (min-width: 768px) {
	body::before,
	body::after {
		content: "";
		position: absolute;
		--top-dots-bg: 50vh;
		--top-dots-bg: 50svh;
		--width-dots-bg: 100vh;
		--width-dots-bg: 100svh;
		--top-dots-right-bg: calc(var(--top-dots-bg) + var(--width-dots-bg) / 1.8);
		top: var(--top-dots-bg);
		width: var(--width-dots-bg);
		max-width: 100vw;
		height: calc(100% - var(--top-dots-bg));
		background: transparent url("/content/background-dots.svg");
		background-size: var(--width-dots-bg) 110vh;
		z-index: -100;
	}
}

body::before {
	left: 0;
}

body::after {
	right: 0;
	transform: scaleX(-1);

	top: var(--top-dots-right-bg);
	height: calc(100% - var(--top-dots-right-bg));
}
.container {
	padding: 0 var(--container-padding);
}
li {
	list-style: none;
	position: relative;
	padding-left: 1em;
	text-wrap: wrap;
	line-height: var(--lh-1_85);
}

ul li::before {
	content: "";
	width: 0.3em;
	height: 0.3em;
	background: white;
	position: absolute;
	border-radius: 50%;
	left: 2px;
	top: 0.8em;
}

/*media q*/
@media only screen and (min-width: 768px) {
}
@media only screen and (min-width: 1024px) {
}
