lottie-player[data-astro-cid-zutejpw5] {
	aspect-ratio: 1/1;
	min-height: 100%;
	pointer-events: none;
	width: 100%;
}
.more-information[data-astro-cid-g4xhqr5f] {
	align-items: center;
	border-color: var(--color-primary-400);
	border-radius: var(--border-radius-12);
	border-style: solid;
	border-width: 1px;
	color: var(--color-white);
	cursor: pointer;
	display: flex;
	font-size: var(--fs-16-12);
	justify-content: center;
	margin-bottom: var(--marginBottom);
	padding: 1em 2em;
	position: relative;
	width: -moz-fit-content;
	width: fit-content;
}
.more-information[data-astro-cid-g4xhqr5f]:before {
	background: var(--color-blue-600);
	background: linear-gradient(180deg, var(--color-blue-600) 0, var(--color-primary-400) 100%);
	border-radius: 11px;
	content: "";
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="var(--color-blue-600)",endColorstr="var(--color-primary-400)",GradientType=1);
	height: 100%;
	left: 0;
	opacity: 0;
	position: absolute;
	top: 0;
	transition: opacity 0.3s ease-in-out, filter 0.3s ease-in-out;
	width: 100%;
	z-index: -1;
}
.more-information[data-astro-cid-g4xhqr5f]:hover:before {
	filter: drop-shadow(0 0 2px var(--color-primary-400-50));
	opacity: 1;
}
.arrow[data-astro-cid-lbet5fex] {
	cursor: pointer;
}
.arrow-left[data-astro-cid-lbet5fex] {
	position: relative;
}
.hovered[data-astro-cid-lbet5fex] {
	height: 142.8571%;
	left: 50%;
	max-width: 142.8571%;
	opacity: 0;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	transition: var(--transition-default);
	width: 142.8571%;
	z-index: -1;
}
.arrow-left[data-astro-cid-lbet5fex]:hover .hovered[data-astro-cid-lbet5fex] {
	opacity: 1;
}
.hero {
	overflow: visible;
	padding-top: 26px;
}
.hero-slider {
	display: grid;
}
.hero-slide {
	display: flex;
	flex-direction: column-reverse;
	grid-column: 1;
	grid-row: 1;
	pointer-events: none;
	visibility: hidden;
	width: 100%;
}
.hero-slide.active {
	pointer-events: auto;
	visibility: visible;
}
.hero-images {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	justify-content: center;
	margin: auto;
	position: relative;
	width: clamp(215px, 21.308vw + 135px, 544px);
}
.hero-slider.next .hero-slide.active .hero-images {
	animation: heroMainImageSlideInFromRight 1.2s cubic-bezier(0.38, 0.27, 0.34, 1) forwards;
}
.hero-slider.prev .hero-slide.active .hero-images {
	animation: heroMainImageSlideInFromLeft 1.2s cubic-bezier(0.38, 0.27, 0.34, 1) forwards;
}
.hero-slider.next .hero-slide.deactive .hero-images {
	animation: heroMainImageSlideOutToLeft 1.2s cubic-bezier(0.38, 0.27, 0.34, 1) forwards;
}
.hero-slider.prev .hero-slide.deactive .hero-images {
	animation: heroMainImageSlideOutToRight 1.2s cubic-bezier(0.38, 0.27, 0.34, 1) forwards;
}
@keyframes heroMainImageSlideInFromRight {
	0% {
		transform: rotate(10deg) translate(100vw);
	}
	to {
		transform: rotate(0) translate(0);
	}
}
@keyframes heroMainImageSlideInFromLeft {
	0% {
		transform: rotate(10deg) translate(-100vw);
	}
	to {
		transform: rotate(0) translate(0);
	}
}
@keyframes heroMainImageSlideOutToLeft {
	0% {
		transform: rotate(0) translate(0);
		visibility: visible;
	}
	to {
		transform: rotate(10deg) translate(-100vw);
		visibility: none;
	}
}
@keyframes heroMainImageSlideOutToRight {
	0% {
		transform: rotate(0) translate(0);
		visibility: visible;
	}
	to {
		transform: rotate(10deg) translate(100vw);
		visibility: none;
	}
}
.hero-main-image {
	grid-column: 1;
	grid-row: 1;
	z-index: 2;
}
.hero-capsules {
	grid-column: 1;
	grid-row: 1;
	height: 100%;
	position: relative;
	width: 100%;
}
.hero-slider.next .hero-slide.active .hero-capsules {
	animation: heroCapsulesSlideInFromRight 1.2s cubic-bezier(0.38, 0.27, 0.34, 1) forwards;
}
.hero-slider.prev .hero-slide.active .hero-capsules {
	animation: heroCapsulesSlideInFromLeft 1.2s cubic-bezier(0.38, 0.27, 0.34, 1) forwards;
}
.hero-slider.next .hero-slide.deactive .hero-capsules {
	animation: heroCapsulesSlideOutToLeft 1.2s cubic-bezier(0.38, 0.27, 0.34, 1) forwards;
}
.hero-slider.prev .hero-slide.deactive .hero-capsules {
	animation: heroCapsulesSlideOutToRight 1.2s cubic-bezier(0.38, 0.27, 0.34, 1) forwards;
}
@keyframes heroCapsulesSlideInFromRight {
	0% {
		transform: rotate(10deg) scale(0.6);
	}
	to {
		transform: rotate(0) scale(1);
	}
}
@keyframes heroCapsulesSlideInFromLeft {
	0% {
		transform: rotate(10deg) scale(0.6);
	}
	to {
		transform: rotate(0) scale(1);
	}
}
@keyframes heroCapsulesSlideOutToLeft {
	0% {
		transform: rotate(0) scale(1);
	}
	to {
		transform: rotate(10deg) scale(0.6);
	}
}
@keyframes heroCapsulesSlideOutToRight {
	0% {
		transform: rotate(0) scale(1);
	}
	to {
		transform: rotate(10deg) scale(0.6);
	}
}
.hero-capsules > * {
	position: absolute;
	width: 100%;
	z-index: 1;
}
.hero-capsule-1 {
	bottom: 0;
	left: 0;
	max-width: clamp(38px, 2.915vw + 27px, 83px);
	transform: rotate(-6deg) translate(-30%, -70%);
}
.hero-capsule-2 {
	max-width: clamp(44px, 5.117vw + 24px, 123px);
	transform: translate(30%, 70%);
}
.hero-capsule-3 {
	max-width: clamp(42px, 5.376vw + 21.8px, 125px);
	right: 0;
	top: 50%;
	transform: rotate(10deg) translate(35%, -100%);
}
.hero-bg-animation {
	height: clamp(369px, 47.345vw + 191px, 1100px);
	left: -9%;
	position: absolute;
	top: 6%;
	transform: rotate(-15deg) translate(-13%, -14%);
	width: clamp(369px, 47.345vw + 191px, 1100px);
	z-index: -1;
}
.hero-slider.next .hero-slide.active .hero-bg-animation {
	animation: heroBgAnimationSlideInFromRight 1.2s cubic-bezier(0.38, 0.27, 0.34, 1) forwards;
}
.hero-slider.prev .hero-slide.active .hero-bg-animation {
	animation: heroBgAnimationSlideInFromLeft 1.2s cubic-bezier(0.38, 0.27, 0.34, 1) forwards;
}
.hero-slider.next .hero-slide.deactive .hero-bg-animation {
	animation: heroBgAnimationSlideOutToLeft 1.2s cubic-bezier(0.38, 0.27, 0.34, 1) forwards;
}
.hero-slider.prev .hero-slide.deactive .hero-bg-animation {
	animation: heroBgAnimationSlideOutToRight 1.2s cubic-bezier(0.38, 0.27, 0.34, 1) forwards;
}
@keyframes heroBgAnimationSlideInFromRight {
	0% {
		transform: rotate(0) translate(-13%, -20%);
	}
	to {
		transform: rotate(-15deg) translate(-13%, -14%);
	}
}
@keyframes heroBgAnimationSlideInFromLeft {
	0% {
		transform: rotate(-40deg) translate(-18%, -20%);
	}
	to {
		transform: rotate(-15deg) translate(-13%, -14%);
	}
}
@keyframes heroBgAnimationSlideOutToLeft {
	0% {
		transform: rotate(-15deg) translate(-13%, -14%);
	}
	to {
		transform: rotate(-20deg) translate(-18%, -16%);
	}
}
@keyframes heroBgAnimationSlideOutToRight {
	0% {
		transform: rotate(-15deg) translate(-13%, -14%);
	}
	to {
		transform: rotate(0) translate(-13%, -20%);
	}
}
.hero-text {
	color: var(--color-white);
	line-height: var(--lh-1_2);
	padding-top: 30px;
	z-index: 1;
}
.hero-slider.next .hero-slide.active .hero-text {
	animation: heroTextAnimationSlideInFromRight 1s cubic-bezier(0.38, 0.27, 0.34, 1) forwards;
	animation-delay: 0.2s;
	opacity: 0;
}
.hero-slider.prev .hero-slide.active .hero-text {
	animation: heroTextAnimationSlideInFromLeft 1.2s cubic-bezier(0.38, 0.27, 0.34, 1) forwards;
}
.hero-slider.next .hero-slide.deactive .hero-text {
	animation: heroTextAnimationSlideOutToLeft 1.2s cubic-bezier(0.38, 0.27, 0.34, 1) forwards;
}
.hero-slider.prev .hero-slide.deactive .hero-text {
	animation: heroTextAnimationSlideOutToRight 0.4s cubic-bezier(0.38, 0.27, 0.34, 1) forwards;
}
@keyframes heroTextAnimationSlideInFromRight {
	0% {
		opacity: 0;
		transform: translate(40vw);
	}
	to {
		opacity: 1;
		transform: translate(0);
	}
}
@keyframes heroTextAnimationSlideInFromLeft {
	0% {
		opacity: 0;
		transform: translate(-100vw);
	}
	to {
		opacity: 1;
		transform: translate(0);
	}
}
@keyframes heroTextAnimationSlideOutToLeft {
	0% {
		opacity: 1;
		transform: translate(0);
		visibility: visible;
	}
	to {
		opacity: 0;
		transform: translate(-100vw);
	}
}
@keyframes heroTextAnimationSlideOutToRight {
	0% {
		opacity: 1;
		transform: translate(0);
		visibility: visible;
	}
	to {
		opacity: 0;
		transform: translate(5vw);
	}
}
.hero-heading {
	font-size: var(--fs-60-28);
	font-weight: var(--fw-bold);
	padding-bottom: 0.65em;
}
.hero-sub-heading {
	font-size: var(--fs-32-20);
	font-weight: var(--fw-regular);
	opacity: 0.7;
	padding-bottom: 1.15em;
}
.hero-arrows {
	display: flex;
	gap: 7%;
	justify-content: center;
	margin: 1.5rem auto auto;
	width: clamp(96px, 3.238vw + 83.8px, 146px);
}
@media only screen and (min-width: 768px) {
	.hero {
		display: flex;
		flex-direction: column;
		min-height: calc(90vh - var(--header-height));
		min-height: calc(100svh - var(--header-height));
		padding-top: 0;
	}
	.hero-slide {
		align-items: center;
		flex-direction: row;
		position: relative;
	}
	.hero-slider {
		flex: 0.95;
	}
	.hero-text {
		margin-bottom: 0;
		max-width: 60%;
		padding-top: 0;
	}
	.hero-sub-heading {
		max-width: 80%;
	}
	.hero-images {
		left: 60%;
		position: absolute;
	}
	.hero-main-image {
		max-height: 75vh;
	}
	.hero-main-image img {
		width: auto;
		height: auto;
		max-height: 100%;
	}
	.hero-bg-animation {
		left: -23%;
		max-height: 110vh;
		top: -5%;
	}
}
div[data-astro-cid-ykjc4aql] {
	font-size: var(--fs-60-28);
	margin-top: var(--marginTopMOB);
	padding-bottom: var(--paddingBottomMOB);
	padding-top: var(--paddingTopMOB);
}
h2[data-astro-cid-ykjc4aql] {
	-webkit-background-clip: text;
	background-clip: text;
	background-image: linear-gradient(180deg, var(--color-blue-300) 20%, var(--color-blue-400) 95%);
	color: transparent;
	font-weight: var(--fw-bold);
	line-height: var(--lh-1_2);
	text-align: center;
}
@media only screen and (min-width: 768px) {
	div[data-astro-cid-ykjc4aql] {
		margin-top: var(--marginTopPC);
		padding-bottom: var(--paddingBottomPC);
		padding-top: var(--paddingTopPC);
	}
}
svg.hexagonFilledWithHover {
	filter: drop-shadow(0 0 8px hsl(0, 0%, 0%, 28%));
	transition: filter 0.2s ease-in-out;
}
.active svg.hexagonFilledWithHover {
	filter: drop-shadow(0 0 8px #27b9f5);
}
@media only screen and (min-width: 768px) {
	svg.hexagonFilledWithHover {
		filter: drop-shadow(0 0 8px hsl(0, 0%, 0%, 28%));
	}
	.active svg.hexagonFilledWithHover {
		filter: drop-shadow(0 0 8px var(--color-primary-400));
	}
}
svg[data-astro-cid-sqjl3o6z] {
	pointer-events: none;
	width: clamp(14.21px, 1.446vw + 8.768px, 36.53px);
	z-index: 1;
}
svg[data-astro-cid-gbnxcsmn] {
	pointer-events: none;
	width: clamp(21.4px, 2.177vw + 13.216px, 55.01px);
	z-index: 1;
}
svg[data-astro-cid-mx7n4oe3] {
	pointer-events: none;
	width: clamp(18.56px, 1.887vw + 11.456px, 47.7px);
	z-index: 1;
}
svg[data-astro-cid-ejomtsuq] {
	pointer-events: none;
	width: clamp(16.67px, 1.695vw + 10.304px, 42.84px);
	z-index: 1;
}
.brand-benefits {
	overflow: visible;
}
.brand-benefits-content {
	align-items: center;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	justify-items: center;
	margin: clamp(2rem, 1.554vw + 1.635rem, 3.5rem) auto auto;
	max-width: 98%;
	min-height: clamp(311px, 31.671vw + 191.92px, 800px);
	width: clamp(311px, 31.671vw + 191.92px, 800px);
}
.brand-benefits-content > * {
	grid-column: 1;
	grid-row: 1;
}
.brand-benefits-content .brand-benefits-tiles {
	grid-row: 2;
}
.brand-benefits-logo {
	margin-bottom: 3%;
	width: clamp(146px, 14.821vw + 89.968px, 375px);
}
.brand-benefits-tile {
	align-items: center;
	color: var(--color-white);
	display: flex;
	font-size: var(--fs-36-14);
	font-weight: var(--fw-book);
	line-height: var(--lh-1_2);
	margin-bottom: 1em;
}
.brand-benefits-tile:last-child {
	margin-bottom: 0;
}
.brand-benefit-icon {
	align-items: center;
	display: grid;
	justify-items: center;
	transition: transform 0.2s ease-in-out;
	width: clamp(42px, 3.951vw + 27.152px, 103px);
}
.brand-benefits-tile.active .brand-benefit-icon {
	transform: scale(1.1);
}
.brand-benefit-icon > * {
	grid-column: 1;
	grid-row: 1;
}
.brand-benefit-text {
	--padding-text: 0.75em;
	padding-left: var(--padding-text);
	transition: padding 0.2s ease-in-out;
}
.brand-benefits-tile.active .brand-benefit-text {
	--padding-text: 0.9em;
}
.brand-benefits-descriptions {
	text-wrap: initial;
	align-items: center;
	color: var(--color-white);
	display: grid;
	font-size: var(--fs-26-14);
	font-weight: var(--fw-book);
	justify-items: center;
	line-height: var(--lh-1_38);
	padding: 5% 10%;
	text-align: center;
	width: 70%;
	z-index: 1;
}
.brand-benefits-descriptions > * {
	grid-column: 1;
	grid-row: 1;
}
.brand-benefits-description {
	max-height: 9.5em;
}
.brand-benefits-description-bg {
	opacity: 0;
	transform: rotateY(90deg);
	transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
	width: 70%;
}
@media only screen and (max-width: 768px) {
	.brand-benefits-description-bg {
		width: 93%;
	}
	.brand-benefits-descriptions {
		padding: 0 12%;
		width: 90%;
	}
	.brand-benefits-description {
		overflow-x: hidden;
		overflow-y: scroll;
	}
}
.brand-benefits-description-bg.active {
	opacity: 1;
	transform: rotateY(0);
	z-index: 1;
}
.brand-benefits-description {
	opacity: 0;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}
.brand-benefits-description.active {
	opacity: 1;
	transition: opacity 0.5s ease-in-out;
	-webkit-user-select: auto;
	-moz-user-select: auto;
	user-select: auto;
	z-index: 2;
}
.brand-benefits-bg-animation {
	align-items: center;
	display: grid;
	height: 100%;
	justify-items: center;
	width: 100%;
}
.brand-benefits-bg-animation > * {
	grid-column: 1;
	grid-row: 1;
}
@media only screen and (min-width: 1024px) {
	.brand-benefits-content .brand-benefits-tiles {
		grid-row: 1;
	}
	.brand-benefits-tiles {
		display: grid;
		width: 100%;
		z-index: 1;
	}
	.brand-benefits-tile {
		--vert-large: 250%;
		--vert-small: 130%;
		--horiz-large: 76%;
		--horiz-small: 84%;
		align-items: center;
		grid-column: 1;
		grid-row: 1;
		justify-items: center;
		margin: 0;
		position: relative;
		width: 100%;
	}
	.brand-benefits-tile:first-child {
		bottom: var(--vert-large);
		right: var(--horiz-large);
	}
	.brand-benefits-tile:nth-child(2) {
		bottom: var(--vert-small);
		left: var(--horiz-small);
	}
	.brand-benefits-tile:nth-child(3) {
		right: var(--horiz-small);
		top: var(--vert-small);
	}
	.brand-benefits-tile:nth-child(4) {
		left: var(--horiz-large);
		top: var(--vert-large);
	}
	.brand-benefits-tile:nth-child(odd) {
		flex-direction: row-reverse;
		text-align: right;
	}
	.brand-benefits-tile:nth-child(odd) .brand-benefit-text {
		padding-left: 0;
		padding-right: var(--padding-text);
	}
	.brand-benefit-text {
		max-width: 50%;
	}
}
.brand-new-product-assets[data-astro-cid-4vhbfn4z] {
	align-items: center;
	display: grid;
	justify-items: center;
}
.brand-new-product-assets[data-astro-cid-4vhbfn4z] > [data-astro-cid-4vhbfn4z] {
	grid-column: 1;
	grid-row: 1;
}
.hexagon-large[data-astro-cid-4vhbfn4z] {
	width: clamp(181px, 24.173vw + 90.064px, 554px);
}
.hexagon-medium[data-astro-cid-4vhbfn4z] {
	width: clamp(141px, 18.859vw + 70.272px, 432px);
}
.hexagon-small[data-astro-cid-4vhbfn4z] {
	width: clamp(34px, 4.584vw + 17.072px, 105px);
}
.hexagon-large[data-astro-cid-4vhbfn4z],
.hexagon-medium[data-astro-cid-4vhbfn4z] {
	transform: rotate(-15deg);
}
.hexagon-small[data-astro-cid-4vhbfn4z] {
	transform: translate(200%, -260%) rotate(225deg);
}
.brand-new-product-images[data-astro-cid-4vhbfn4z] {
	align-items: center;
	display: grid;
	justify-items: center;
	z-index: 1;
}
.brand-new-product-image[data-astro-cid-4vhbfn4z] {
	grid-column: 1;
	grid-row: 1;
	opacity: 0;
	width: clamp(100px, 12.37vw + 53.488px, 291px);
}
.brand-new-product-image[data-astro-cid-4vhbfn4z] img[data-astro-cid-4vhbfn4z] {
	transform: skew(2deg, -2deg) rotate(7deg);
}
.brand-new-product-image[data-astro-cid-4vhbfn4z].active {
	opacity: 1;
}
.brand-new-product-texts[data-astro-cid-4vhbfn4z] {
	align-items: start;
	display: grid;
	justify-items: center;
}
.brand-new-product-text[data-astro-cid-4vhbfn4z] {
	grid-column: 1;
	grid-row: 1;
	opacity: 0;
	pointer-events: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}
.brand-new-product-text[data-astro-cid-4vhbfn4z].active {
	pointer-events: auto;
	-webkit-user-select: auto;
	-moz-user-select: auto;
	user-select: auto;
}
h3[data-astro-cid-4vhbfn4z] {
	color: var(--color-primary-400);
	font-size: var(--fs-26-20);
	font-weight: var(--fw-regular);
	line-height: var(--lh-1_2);
	padding-bottom: 0.9em;
	padding-top: 2em;
}
p[data-astro-cid-4vhbfn4z] {
	color: var(--color-white);
	font-size: var(--fs-16-12);
	font-weight: var(--fw-book);
	line-height: var(--lh-1_25);
	padding-bottom: 1em;
}
.brand-new-product-description[data-astro-cid-4vhbfn4z]:last-of-type {
	padding-bottom: 1.5em;
}
.brand-new-product-arrows[data-astro-cid-4vhbfn4z] {
	display: flex;
	gap: 7%;
	justify-content: center;
	margin: 0 auto;
	width: clamp(96px, 3.238vw + 83.8px, 146px);
}
@media only screen and (max-width: 768px) {
	.pc[data-astro-cid-4vhbfn4z] {
		display: none;
	}
}
@media only screen and (min-width: 768px) {
	.brand-news-content[data-astro-cid-4vhbfn4z] {
		display: grid;
		grid-template-columns: 55% 45%;
		grid-template-rows: auto auto;
	}
	.brand-new-product-assets[data-astro-cid-4vhbfn4z] {
		grid-column: 2;
		grid-row: 1/3;
		margin-bottom: 20px;
		opacity: 0;
		transition: opacity 1.5s;
		transition-delay: 0.3s;
	}
	.brand-news-content[data-astro-cid-4vhbfn4z].active .brand-new-product-assets[data-astro-cid-4vhbfn4z] {
		opacity: 1;
	}
	.brand-new-product-texts[data-astro-cid-4vhbfn4z] {
		padding-right: 12%;
	}
	h3[data-astro-cid-4vhbfn4z] {
		padding-bottom: 1.15em;
		padding-top: 0;
	}
	p[data-astro-cid-4vhbfn4z] {
		line-height: var(--lh-1_5);
		padding-bottom: 1em;
	}
	.brand-new-product-description[data-astro-cid-4vhbfn4z]:last-child {
		padding-bottom: 6.25em;
	}
	.mobile[data-astro-cid-4vhbfn4z] {
		display: none;
	}
	.brand-new-product-arrows[data-astro-cid-4vhbfn4z] {
		margin: 0 auto auto 0;
		padding-left: 4px;
	}
}
.brand-new-product-image[data-astro-cid-4vhbfn4z] {
	transition: transform 2s ease-in-out, opacity 1s ease-in-out;
}
.hexagon[data-astro-cid-4vhbfn4z] {
	transition: transform 1.1s ease-in-out;
}
.brand-news-content[data-astro-cid-4vhbfn4z] .brand-new-product-image[data-astro-cid-4vhbfn4z] {
	transform: translate(200vw);
}
@media only screen and (min-width: 768px) {
	.brand-news-content[data-astro-cid-4vhbfn4z] .brand-new-product-image[data-astro-cid-4vhbfn4z] {
		transform: translate(100vw);
	}
}
.brand-news-content[data-astro-cid-4vhbfn4z] .brand-new-product-image[data-astro-cid-4vhbfn4z].active {
	transform: translate(0);
}
.brand-new-product-assets[data-astro-cid-4vhbfn4z].animating .hexagon-large[data-astro-cid-4vhbfn4z] {
	transform: rotate(-35deg) scale(0.9);
}
.brand-new-product-assets[data-astro-cid-4vhbfn4z].animating .hexagon-medium[data-astro-cid-4vhbfn4z] {
	transform: rotate(25deg) scale(0.9);
}
.brand-new-product-assets[data-astro-cid-4vhbfn4z].animating .hexagon-small[data-astro-cid-4vhbfn4z] {
	transform: translate(180%, -280%) rotate(250deg) scale(0.8);
}
.brand-new-product-text[data-astro-cid-4vhbfn4z] {
	display: grid;
	grid-template-rows: 1fr;
}
.brand-new-product-text[data-astro-cid-4vhbfn4z].deactivating {
	animation: textGridAnimationOut 1.4s ease-in-out forwards;
}
.brand-new-product-text[data-astro-cid-4vhbfn4z].active {
	animation: textGridAnimationIn 2s ease-in-out forwards;
	animation-delay: 0.5s;
}
.text-animation-wrapper[data-astro-cid-4vhbfn4z] {
	overflow: hidden;
}
.hexagon-empty-with-hover {
	cursor: pointer;
	grid-column: 1;
	grid-row: 1;
	position: relative;
	width: clamp(2.888rem, 1.541vw + 2.526rem, 4.375rem);
}
.hovered {
	height: 142.8571%;
	left: 50%;
	max-width: 142.8571%;
	opacity: 0;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	transition: var(--transition-default);
	width: 142.8571%;
	z-index: -1;
}
.active > .hexagon-empty-with-hover .hovered,
.hexagon-empty-with-hover:hover .hovered {
	opacity: 1;
}
.about-us[data-astro-cid-bsxsxvrz] {
	font-size: var(--fs-60-28);
	padding-bottom: 2em;
}
.about-us-years-select[data-astro-cid-bsxsxvrz] {
	--line-width: clamp(16px, 0.518vw + 14.048px, 24px);
	color: var(--color-white);
	display: flex;
	font-size: var(--fs-18-12);
	font-weight: var(--fw-light);
	justify-content: flex-start;
	justify-content: center;
	margin-bottom: 1.5em;
	max-width: calc(100% + var(--line-width) * 2);
	overflow-x: scroll;
	overflow-y: visible;
	padding-bottom: 1em;
	padding-top: 1.5em;
}
.about-us-years-select[data-astro-cid-bsxsxvrz]::-webkit-scrollbar {
	display: none;
	height: 0;
}
.about-us-years-select[data-astro-cid-bsxsxvrz] {
	scrollbar-width: none;
}
.about-us-year[data-astro-cid-bsxsxvrz] {
	align-items: center;
	display: grid;
	justify-items: center;
	padding-right: calc(var(--line-width) - 4px);
	position: relative;
}
.about-us-year[data-astro-cid-bsxsxvrz] > [data-astro-cid-bsxsxvrz] {
	grid-column: 1;
	grid-row: 1;
}
.about-us-year[data-astro-cid-bsxsxvrz] span[data-astro-cid-bsxsxvrz] {
	padding-top: 3px;
	pointer-events: none;
}
.about-us-year[data-astro-cid-bsxsxvrz]:before {
	background-color: var(--color-primary-400);
	content: "";
	height: 1px;
	position: absolute;
	right: calc(100% - 2px);
	top: 50%;
	width: var(--line-width);
}
.about-us-year[data-astro-cid-bsxsxvrz]:first-child:before {
	background: #27b9f5;
	background: linear-gradient(270deg, var(--color-primary-400) 0, transparent 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="var(--color-primary)",endColorstr="var(--color-primary)",GradientType=1);
	right: calc(100% - 2px);
	width: calc(var(--line-width) * 1.5);
}
.about-us-year[data-astro-cid-bsxsxvrz]:last-child {
	padding-right: 0;
}
.about-us-year[data-astro-cid-bsxsxvrz]:last-child:after {
	background: #27b9f5;
	background: linear-gradient(90deg, var(--color-primary-400) 0, transparent 100%);
	content: "";
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="var(--color-primary)",endColorstr="var(--color-primary)",GradientType=1);
	height: 1px;
	left: calc(100% - 2px);
	position: absolute;
	top: 50%;
	width: calc(var(--line-width) * 1.5);
}
.about-us-images[data-astro-cid-bsxsxvrz] {
	align-items: center;
	display: grid;
	justify-items: center;
	padding-right: 20px;
}
.about-us-images[data-astro-cid-bsxsxvrz] > [data-astro-cid-bsxsxvrz] {
	grid-column: 1;
	grid-row: 1;
}
.about-us-image[data-astro-cid-bsxsxvrz] {
	opacity: 0;
	position: relative;
	top: 2px;
	transform: scale(0);
	transition: transform 1.2s ease-in-out, opacity 1.2s ease-in-out;
	width: clamp(162px, 17.45vw + 90.568px, 432px);
}
.about-us-image[data-astro-cid-bsxsxvrz].active {
	opacity: 1;
	transform: scale(1);
	transition-delay: 1s;
}
.about-us-image[data-astro-cid-bsxsxvrz].deactivating {
	opacity: 0;
	transform: scale(0);
}
.about-us-hexagon[data-astro-cid-bsxsxvrz].small {
	transform: translate(55%, 260%) rotate(120deg) scale(0);
	transition: transform 1.2s ease-in-out;
	width: clamp(37px, 3.674vw + 23.488px, 94px);
}
.about-us-hexagon[data-astro-cid-bsxsxvrz].medium {
	transform: translate(115%, 135%) rotate(-120deg) scale(0);
	transition: transform 1.2s ease-in-out;
	width: clamp(60px, 5.924vw + 37.872px, 152px);
}
.about-us-hexagon[data-astro-cid-bsxsxvrz].large {
	transform: rotate(-60deg) scale(0);
	transition: transform 1.2s ease-in-out;
	width: clamp(177px, 17.45vw + 111.568px, 447px);
}
.about-us-content[data-astro-cid-bsxsxvrz].active .about-us-hexagon[data-astro-cid-bsxsxvrz].small {
	transform: translate(55%, 260%) rotate(120deg) scale(1);
}
.about-us-content[data-astro-cid-bsxsxvrz].active .about-us-hexagon[data-astro-cid-bsxsxvrz].medium {
	transform: translate(115%, 135%) rotate(-120deg) scale(1);
}
.about-us-content[data-astro-cid-bsxsxvrz].active .about-us-hexagon[data-astro-cid-bsxsxvrz].large {
	transform: rotate(-60deg) scale(1);
}
.about-us-texts[data-astro-cid-bsxsxvrz] {
	display: grid;
}
.about-us-text[data-astro-cid-bsxsxvrz] {
	display: grid;
	grid-column: 1;
	grid-row: 1;
	grid-template-rows: 1fr;
	opacity: 0;
	pointer-events: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}
.text-animation-wrapper[data-astro-cid-bsxsxvrz] {
	overflow: hidden;
}
.about-us-text[data-astro-cid-bsxsxvrz].deactivating {
	animation: textGridAnimationOut 1.2s ease-in-out forwards;
}
.about-us-text[data-astro-cid-bsxsxvrz].active {
	animation: textGridAnimationIn 1.6s ease-in-out forwards;
	animation-delay: 1s;
	pointer-events: auto;
	-webkit-user-select: auto;
	-moz-user-select: auto;
	user-select: auto;
}
@keyframes textGridAnimationOut {
	0% {
		grid-template-rows: 1fr;
		opacity: 1;
	}
	to {
		grid-template-rows: 0fr;
		opacity: 0;
	}
}
@keyframes textGridAnimationIn {
	0% {
		grid-template-rows: 0fr;
		opacity: 0;
	}
	to {
		grid-template-rows: 1fr;
		opacity: 1;
	}
}
h3[data-astro-cid-bsxsxvrz] {
	color: var(--color-primary-400);
	font-size: var(--fs-26-20);
	font-weight: var(--fw-regular);
	line-height: var(--lh-1_2);
	padding-bottom: 0.9em;
	padding-top: 2em;
}
p[data-astro-cid-bsxsxvrz] {
	line-height: var(--lh-1_25);
}
p[data-astro-cid-bsxsxvrz],
ul[data-astro-cid-bsxsxvrz] {
	color: var(--color-white);
	font-size: var(--fs-16-12);
	font-weight: var(--fw-book);
	padding-bottom: 1em;
}
@media only screen and (max-width: 768px) {
	.pc[data-astro-cid-bsxsxvrz] {
		display: none;
	}
}
@media only screen and (min-width: 768px) {
	.about-us[data-astro-cid-bsxsxvrz] {
		padding-bottom: 4em;
	}
	.about-us-content[data-astro-cid-bsxsxvrz] {
		display: grid;
		grid-template-columns: 45% 55%;
		grid-template-rows: auto;
	}
	.about-us-years-select[data-astro-cid-bsxsxvrz] {
		grid-column: 1/3;
		grid-row: 1;
		justify-content: center;
		margin-bottom: 0;
		overflow: visible;
		padding-bottom: 6.25em;
		padding-top: 5.25em;
	}
	.about-us-images[data-astro-cid-bsxsxvrz] {
		grid-column: 1;
		grid-row: 2;
		position: relative;
		top: -10%;
	}
	.about-us-texts[data-astro-cid-bsxsxvrz] {
		grid-column: 2;
		grid-row: 2;
		padding-left: 12%;
	}
	.mobile[data-astro-cid-bsxsxvrz] {
		display: none;
	}
	h3[data-astro-cid-bsxsxvrz] {
		padding-bottom: 1.15em;
		padding-top: 0;
	}
	p[data-astro-cid-bsxsxvrz] {
		line-height: var(--lh-1_5);
	}
}
aside {
	display: none;
}
.homepage aside {
	display: block;
}
@media only screen and (max-width: 1024px) {
	aside {
		display: none !important;
	}
}
aside[data-astro-cid-5ukvdu6i] {
	font-size: var(--fs-12-10);
	max-width: 28px;
	position: fixed;
	right: clamp(20px, 4.464vw + -25.712px, 60px);
	top: 50%;
	transform: translateY(-50%);
	z-index: 999;
}
.arrow[data-astro-cid-5ukvdu6i] {
	cursor: pointer;
	transition: fill 0.2s ease-in-out, opacity 0.2s ease-in-out;
}
.arrow[data-astro-cid-5ukvdu6i]:hover {
	fill: var(--color-white);
	opacity: 1;
}
.arrow[data-astro-cid-5ukvdu6i].top {
	margin-bottom: 0.25em;
	transform: rotate(180deg);
}
.arrow[data-astro-cid-5ukvdu6i].bottom {
	margin-top: 0.25em;
}
.dots[data-astro-cid-5ukvdu6i] {
	align-items: center;
	display: flex;
	flex-direction: column;
}
.dot[data-astro-cid-5ukvdu6i] {
	background-color: var(--color-white);
	border-radius: 50%;
	display: block;
	height: 1em;
	margin: 1.5em 0;
	transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
	width: 1em;
}
.dot[data-astro-cid-5ukvdu6i].active,
.dot[data-astro-cid-5ukvdu6i]:hover {
	background-color: var(--color-primary-400);
}
.dot[data-astro-cid-5ukvdu6i].active {
	transform: scaleY(2);
}
