:root {
	--ff-primary: stolzl, sans-serif;
	--ff-body: var(--ff-primary);
	--ff-heading: var(--ff-primary);

	--fw-thin: 100;
	--fw-light: 200;
	--fw-book: 300;
	--fw-normal: 400;
	--fw-medium: 500;
	--fw-bold: 700;

	--fs-10: 0.625rem;
	--fs-12: 0.75rem;
	--fs-13: 0.813rem;
	--fs-14: 0.875rem;
	--fs-15: 0.938rem;
	--fs-16: 1rem;
	--fs-18: 1.125rem;
	--fs-22: 1.375rem;
	--fs-24: 1.5rem;
	--fs-26: 1.625rem;
	--fs-32: 2rem;
	--fs-36: 2.25rem;
	--fs-40: 2.5rem;
	--fs-50: 3.125rem;
	--fs-60: 3.75rem;
	--fs-70: 4.375rem;
	--fs-375: 19.5vw;

	--lh-15: 0.938rem;
	--lh-17: 1.063rem;
	--lh-19: 1.188rem;
	--lh-22: 1.375rem;
	--lh-24: 1.5rem;
	--lh-26: 1.625rem;
	--lh-28: 1.75rem;
	--lh-32: 2rem;
	--lh-36: 2.25rem;
	--lh-38: 2.375rem;
	--lh-43: 2.688rem;
	--lh-48: 3rem;
	--lh-72: 4.5rem;

	/* Colors: */

	--padding-side: clamp(40px, 3.125vw, 120px);
	--header-height: clamp(70px, 7.407vh, 100px);
	--header-height: clamp(70px, 7.407svh, 100px);
	--footer-height: clamp(110px, 11.29vh, 150px);
	--footer-height: clamp(110px, 11.29svh, 150px);

	/*default animation*/
	--transition-default: 0.3s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--ff-heading);
	font-style: normal;
}

/* Scrollbar */
::-webkit-scrollbar {
	width: clamp(0.2rem, 0.7vw, 30px);
	background: transparent;
}

::-webkit-scrollbar-track {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	background: transparent;
}
::-webkit-scrollbar-thumb {
	border-radius: 100px;
	background: var(--color-00b2d2);
	border: 0.25em solid var(--color-00b2d2);
}

/* firefox scroller */
@supports (scrollbar-color: red blue) {
	* {
		scrollbar-color: var(--color-27b9f580) var(--color-060d55);
		scrollbar-width: thin;
	}
}

html {
	background: linear-gradient(347deg, rgb(0, 87, 213) 0%, rgb(6, 13, 85) 34%, rgb(0, 77, 185) 68%, rgb(6, 13, 85) 100%)
		0% 0%;
	background-size: 100% max(5658px, 130%);
	position: relative;
	overflow-x: hidden;
}
body::before,
body::after {
	content: "";
	position: absolute;
	--top-dots-bg: 50vh;
	--top-dots-bg: 50svh;
	--width-dots-bg: 100vh;
	--width-dots-bg: 100svh;
	--top-dots-right-bg: calc(var(--top-dots-bg) + var(--width-dots-bg) / 1.8);
	top: var(--top-dots-bg);
	width: var(--width-dots-bg);
	max-width: 100vw;
	height: calc(100% - var(--top-dots-bg));
	background: transparent url("/content/background-dots.svg");
	background-size: var(--width-dots-bg) 110vh;
	z-index: -100;
}

body::before {
	left: 0;
}

body::after {
	right: 0;
	transform: scaleX(-1);

	top: var(--top-dots-right-bg);
	height: calc(100% - var(--top-dots-right-bg));
}
