---
import IndexLayout from "../layouts/IndexLayout.astro";
---

<IndexLayout title="Natios - It's Better To Be The Best">
	<h1>Astroxxx</h1>
	<a href="/test"
		><img
			src="/content/images/products/Ashwagandha_Extra_5000_90/front/Ashwagandha_5000_90_front_1200.webp"
			alt=""
			srcset=""
			transition:name="slide"
		/></a
	>
</IndexLayout>

<style></style>
