---
import IndexLayout from "../layouts/IndexLayout.astro";
import Hero from "../components/homepage/hero/hero.astro";
import { Image } from "astro:assets";
import myImage from "@assets/images/products/Ashwagandha_Extra_5000_90/front/Ashwagandha_5000_90_front_1200.webp"; // Image is 1600x900
---

<IndexLayout title="Natios - It's Better To Be The Best">
	<Hero />
	<div class="test"></div>
</IndexLayout>

<style>
	.test {
		min-height: 100vh;
	}
</style>
