---
import IndexLayout from "../layouts/IndexLayout.astro";
---

<IndexLayout title="Natios - It's Better To Be The Best">
	<h1>
		Astroxxx Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit dolor porro dolores, odit saepe eos illum
		atque ipsum maxime voluptatibus. Reprehenderit, cumque laborum repellat eligendi pariatur consequatur eos ex ex ex
		ex.
	</h1>
	<a href="/"
		><img
			src="/content/images/products/Ashwagandha_Extra_5000_90/front/Ashwagandha_5000_90_front_1200.webp"
			alt=""
			srcset=""
			transition:name="slide"
		/></a
	>
</IndexLayout>

<style>
	img {
		margin-left: 300px;
		width: 50px;
	}
</style>
