---
import NaseProdukty from "@components/nase-produkty/nase-produkty.astro";
import SectionHeader from "@components/section-header.astro";
---

<section id="our-products" class="our-products">
	<SectionHeader
		headerText="Naše produkty"
		marginTopMOB="2.3em"
		marginTopPC=".65em"
		paddingTopMOB="1em"
		paddingTopPC="2em"
		paddingBottomMOB="1.5em"
		paddingBottomPC="1.25em"
	/>
	<NaseProdukty />
</section>
