---
import IndexLayout from "../../layouts/IndexLayout.astro";
---

<IndexLayout title="NATIOS Kontakt">
	<div class="page-header">
		<h1>Zásady ochrany soukromí</h1>
	</div>

	<div class="gdpr-content">
		<p>
			Prostřednictvím těchto Zásad ochrany osobních údajů (dále jen „Zásady“) informujeme subjekty údajů, jejichž osobní
			údaje zpracováváme, o veškerých činnostech zpracování a o zásadách ochrany soukromí subjektů údajů.
		</p>
		<p class="bold">1. Odpovědné osoby</p>
		<p>
			Správce osobních údajů: <br />
			Natios Health, s.r.o, IČ: 28582292, se sídlem Trocnovská 1088/2a, 702 00 Ostrava - Přívoz <br />
			Kontakty pro uplatnění Vašich práv: Telefon: +420 558 274 254, E-mail: info@natios.cz <br />
			(dále také jen „my“; „nám“; „naše“ nebo „nás“)
		</p>
		<p class="bold">2. Základní pojmy</p>
		<p class="bold no-padding">GDPR:</p>
		<p>
			Nařízení Evropského parlamentu a Rady (EU) 2016/679 2016/679 o ochraně fyzických osob v souvislosti se zpracováním
			osobních údajů a o volném pohybu těchto údajů a o zrušení směrnice 95/46/ES účinné od 25. 5. 2018.
		</p>
		<p class="bold no-padding">Osobní údaj:</p>
		<p>
			Osobním údajem se ve smyslu nařízení Evropského parlamentu a Rady (EU) 2016/679 2016/679 o ochraně fyzických osob
			v souvislosti se zpracováním osobních údajů a o volném pohybu těchto údajů a o zrušení směrnice 95/46/ES (dále jen
			„GDPR“) rozumí veškeré informace o identifikované nebo identifikovatelné fyzické osobě, (tj. o subjektu údajů =
			Vás).
		</p>
		<p class="bold no-padding">Zvláštní osobní údaj:</p>
		<p>
			Zvláštním osobním údajem se rozumí údaj o rasovém či etnickém původu, politických názorech, náboženském vyznání či
			filozofickém přesvědčení nebo členství v odborech, zpracování genetických údajů, biometrických údajů za účelem
			jedinečné identifikace fyzické osoby a údajů o zdravotním stavu či o sexuálním životě nebo sexuální orientaci
			fyzické osoby.
		</p>
		<p class="bold no-padding">Subjekt údajů = Vy:</p>
		<p>
			Subjektem údajů se myslí identifikovaná nebo identifikovatelná fyzická osoba, přičemž identifikovatelnou fyzickou
			osobou je fyzická osoba, kterou lze přímo či nepřímo identifikovat, zejména odkazem na určitý identifikátor,
			například jméno, identifikační číslo, lokační údaje, síťový identifikátor nebo na jeden či více zvláštních prvků
			fyzické, fyziologické, genetické, psychické, ekonomické, kulturní nebo společenské identity této fyzické osoby.
		</p>
		<p class="bold no-padding">Zpracování osobních údajů:</p>
		<p>
			Zpracováním osobních údajů se ve smyslu čl. 4 odst. 2 GDPR myslí jakákoliv operace nebo soubor operací s osobními
			údaji nebo soubory osobních údajů, který je prováděn pomocí či bez pomoci automatizovaných postupů, jako je
			shromáždění, zaznamenání, uspořádání, strukturování, uložení, přizpůsobení nebo pozměnění, vyhledání, nahlédnutí,
			použití, zpřístupnění přenosem, šíření nebo jakékoliv jiné zpřístupnění, seřazení či zkombinování, omezení, výmaz
			nebo zničení.
		</p>
		<p class="bold no-padding">Správce:</p>
		<p>
			Správcem se ve smyslu čl. 4 odst. 7 GDPR rozumí fyzická nebo právnická osoba, orgán veřejné moci, agentura nebo
			jiný subjekt, který sám nebo společně s jinými určuje účely a prostředky zpracování osobních údajů. Ve vztahu k
			Vašim osobním údajům vystupujeme jako správce.
		</p>
		<p class="bold no-padding">Zpracovatel:</p>
		<p>
			Zpracovatelem se ve smyslu čl. 4 odst. 8 GDPR rozumí fyzická nebo právnická osoba, orgán veřejné moci, agentura
			nebo jiný subjekt, který zpracovává osobní údaje pro správce.
		</p>
		<p class="bold no-padding">Dozorový úřad:</p>
		<p>Dozorovým úřadem se v České republice rozumí Úřad pro ochranu osobních údajů (dále jen „ÚOOÚ“).</p>
		<p class="bold no-padding">Rizikové zpracování:</p>
		<p>
			Rizikovým zpracováním se rozumí zpracování, které pravděpodobně představuje riziko pro práva a svobody subjektů
			údajů, zpracování není příležitostné, nebo zahrnuje zpracování zvláštních osobních údajů nebo osobních údajů
			týkajících se rozsudků v trestních věcech a trestných činů uvedených v článku 10 GDPR.
		</p>
		<p class="bold no-padding">Automatizované individuální rozhodováním vč. profilování:</p>
		<p>
			Automatizovaným individuálním rozhodováním vč. profilování se obecně rozumí jakákoli forma rozhodnutí založená na
			automatizovaném zpracování osobních údajů, tj. bez lidského zásahu, spočívajícím mimo jiné na hodnocení některých
			osobních aspektů vztahujících se k subjektu údajů, zejména za účelem rozboru nebo odhadu resp. analýzy či
			předvídání aspektů týkajících se jeho pracovního výkonu, ekonomické situace, zdravotního stavu, osobních
			preferencí, zájmů, spolehlivosti, chování, místa, kde se nachází, nebo pohybu.
		</p>
		<p class="bold">3. Kategorie subjektů, zpracovávané osobní údaje, účel, právní základ a doba zpracování</p>
		<p>Osobní údaje zpracováváme za jednoznačně vymezeným účelem:</p>
		<div class="table">
			<table>
				<thead>
					<tr>
						<th><b>Kategorie subjektů údajů</b></th>
						<th><b>Účel zpracování osobních údajů</b></th>
						<th><b>Právní základ a zpracovávané osobní údaje</b></th>
						<th><b>Doba zpracování</b></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td rowspan="4"><b>Naši zákazníci</b></td>
						<td>Plnění a realizace smluv uzavřených se zákazníky</td>
						<td
							>Právním základem je <b>plnění smlouvy.</b>
							<br />
							<br />
							Identifikační údaje (jméno, příjmení), kontaktní údaje (doručovací adresa nebo adresa trvalého bydliště, e-mail,
							telefon), účetní údaje (číslo kreditní karty, číslo bankovního účtu), historii objednávek, IP adresu, cookies
							a registrační údaje k účtu, prostřednictvím kterého se přihlašujete, a údaje z reklamačního formuláře (identifikace
							produktu, vady produktu).</td
						>
						<td>Za tímto účelem mohou být osobní údaje zpracovávány po dobu trvání smluvního vztahu a záruční doby.</td>
					</tr>
					<tr>
						<td>Uplatňování nároků ze smluvních vztahů po ukončení smlouvy</td>
						<td
							>Právním základem je <b>náš oprávněný zájem</b> spočívající v právu vymáhat pohledávky, náhradu škody a jiné
							nároky, které za trvání našeho smluvního vztahu mohly vzniknout.
							<br />
							<br />
							Identifikační údaje (jméno, příjmení), kontaktní údaje (doručovací adresa nebo adresa trvalého bydliště, e-mail,
							telefon), účetní údaje (číslo bankovního účtu), historii objednávek, IP adresu, cookies a registrační údaje
							k účtu, prostřednictvím kterého se přihlašujete, a údaje z reklamačního formuláře (identifikace produktu, vady
							produktu) jsou po ukončení smlouvy nezbytné pro vyřizování reklamací, vymáhání pohledávek a jiných smluvních
							povinností ze smluv uzavřených mezi námi a těmito subjekty údajů.
						</td>
						<td
							>Za tímto účelem mohou být osobní údaje zpracovávány po dobu čtyř let od ukončení smluvního vztahu, v
							případě soudního řízení po celou dobu řízení.
						</td>
					</tr>
					<tr>
						<td>Plnění našich povinností v oblasti vedení účetnictví a v oblasti daní</td>
						<td
							>Právním základem je plnění <b>právní povinnosti</b>, kterou nám ukládají právní předpisy jako zákon
							zákona o účetnictví nebo zákon o dani z přidané hodnoty.
							<br />
							<br />
							Identifikační údaje (jméno, příjmení), kontaktní údaje (doručovací adresa nebo adresa trvalého bydliště, e-mail,
							telefon), účetní údaje (číslo bankovního účtu a další informace na daňových dokladech).
						</td>
						<td
							>Za tímto účelem mohou být osobní údaje zpracovávány až podobu 10 let od konce zdaňovacího období, ve
							kterém se uskutečnilo zákazníkovi poskytnuté plnění.
						</td>
					</tr>
					<tr>
						<td
							>Šíření obchodních sdělení v podobě odborných informací a zpráv, marketingových materiálů, nabídek našeho
							zboží nebo služeb
						</td>
						<td
							>Právním základem je <b>náš oprávněný zájem</b> poskytovat a nabízet Vám obdobné služby nebo zboží, které odpovídají
							Vašim potřebám, na základě našeho společného obchodního vztahu.
							<br />
							<br />
							Ke zpracování <b>identifikačních a kontaktních osobních údajů zákazníků</b> dochází za účelem šíření obchodních
							sdělení.
						</td>
						<td>Za tímto účelem mohou být osobní údaje zpracovávány po dobu trvání smluvního vztahu.</td>
					</tr>
					<tr>
						<td rowspan="2"><b>Návštěvníci internetových stránek</b></td>
						<td>Statistiky před anonymizací údajů, zobrazování reklam na naše služby nebo zboží</td>
						<td
							>Právním základem je <b>náš oprávněný zájem</b> ve smyslu a) zlepšování našich služeb a zaměření se, co Vás
							opravdu zajímá; b) nabízet Vám obdobné služby nebo zboží, které odpovídají Vašim potřebám, na základě přístupu
							na naše internetové stránky.
							<br />
							<br />
							Identifikační údaje (jméno, příjmení), kontaktní údaje (adresa, e-mail, telefon), IP adresu a cookies.
						</td>
						<td>Za tímto účelem mohou být osobní údaje zpracovávány po dobu 6 měsíců.</td>
					</tr>
					<tr>
						<td>Zaslání odpovědi na dotaz návštěvníka internetových stránek</td>
						<td
							>Právním základem je <b>plnění smlouvy nebo váš souhlas</b>
							<br />
							<br />
							Identifikační údaje (jméno, příjmení), kontaktní údaje (adresa, e-mail, telefon), IP adresu a cookies, dotaz
							položený prostřednictvím formuláře.
						</td>
						<td
							>Za tímto účelem mohou být osobní údaje zpracovávány do vyřízení dotazu z kontaktního formuláře, nejdéle
							však 30 dní nebo doba, po kterou trvá Váš souhlas se zpracováním.
						</td>
					</tr>
					<tr>
						<td><b>Odběratelé novinek</b></td>
						<td>Pravidelné zasílání obchodních sdělení e-mailem</td>
						<td
							>Právním základem je <b>souhlas</b>, který jste nám udělili při registraci k odběru novinek. <br />
							<br />
							Identifikační údaje (jméno a příjmení), kontaktní údaj (e-mail).
						</td>
						<td>Za tímto účelem mohou být osobní údaje zpracovávány do odvolání souhlasu.</td>
					</tr>
				</tbody>
			</table>
		</div>
		<p class="bold">4. Doba zpracování osobních údajů</p>
		<p>
			Osobní údaje uchováváme pouze po dobu, která je nezbytná k účelu jejich zpracování – viz tabulka výše. Po uplynutí
			této doby mohou být osobní údaje uchovávány pouze pro účely státní statistické služby, pro účely vědecké a pro
			účely archivnictví.
		</p>
		<p class="bold">5. Příjemci osobních údajů a předání osobních údajů mimo Evropskou unii</p>
		<p>
			V odůvodněných případech můžeme předat Vaše osobní údaje i jiným subjektům (dále jen „příjemci“). Může dojít k
			předání osobních údajů těmto příjemcům:
		</p>
		<ul>
			<li>
				Zpracovatelé, kteří zpracovávají Vaše osobní údaje dle našich pokynů zejména v oblasti kontaktu s veřejností,
				správy elektronických dat anebo vedení účetnictví;
			</li>
			<li>orgány veřejné moci a jiné subjekty, jestliže to vyžaduje platný právní předpis;</li>
			<li>
				jiné subjekty v případě neočekávané události, ve které je poskytnutí údajů nezbytné za účelem ochrany života,
				zdraví, majetku nebo jiného veřejného zájmu nebo je-li to nezbytné k ochraně našich práv, majetku či
				bezpečnosti.
			</li>
		</ul>
		<p class="bold">6. Cookies</p>
		<p>
			Po vaší první návštěvě našich stránek odešle náš server na Váš počítač malé množství dat a uloží je tam. Při každé
			další návštěvě stránek pak prohlížeč tato data pošle zpět serveru. Tomuto malému souboru se říká „cookie“ a je to
			v krátký textový soubor, obsahující specifický řetěz znaků s jedinečnými informacemi o Vašem prohlížeči. Cookies
			využíváme k tomu, abychom zlepšili kvalitu našich služeb a lépe porozuměli tomu, jak lidé používají naše stránky.
			Proto máme v cookies uloženy preference uživatelů a s jejich pomocí sledujeme uživatelské trendy a to, jak se lidé
			na našich stránkách chovají a jakým způsobem si je prohlížejí.
		</p>
		<p>
			Většina prohlížečů je nastavena tak, aby cookies přijímala. Vy ale máte možnost nastavit si prohlížeč tak, aby
			cookies blokoval nebo aby vás o zaslání cookies informoval. Bez cookies však některé služby nebo funkce nebudou
			správně fungovat.
		</p>
		<p>
			Naše internetové stránky využívají cookies „první strany“, tedy cookies používané pouze našimi webovými stránkami
			(dále jen cookies první strany) a cookies „třetích stran“ (tedy cookies pocházejících z internetových stránek
			třetích stran). Cookies první strany využíváme pro ukládání uživatelských preferencí a údajů, potřebných během
			Vaší návštěvy na internetových stránkách (např. obsah Vašeho nákupního košíku). Cookies třetích stran používáme
			pro sledování uživatelských trendů a vzorců chování, cílení reklamy a to za pomoci třetích stran - poskytovatelů
			webových statistik. Cookies třetích stran použité pro sledování trendů a vzorců chování využívají pouze naše
			internetové stránky a poskytovatel webových statistik, nejsou sdíleny s žádnou další třetí stranou.
		</p>
		<p>Využíváme zejména následující cookies:</p>
		<ul>
			<li>Google Analytics</li>
			<li>Google AdWords</li>
			<li>Facebook Pixel</li>
			<li>Sklik</li>
		</ul>
		<p class="bold">7. Zásady zpracování osobních údajů</p>
		<p class="bold no-padding">Zákonnost</p>
		<p>Vaše osobní údaje zpracováváme v souladu s platnými právními předpisy, zejména s GDPR.</p>
		<p class="bold no-padding">Souhlas subjektu údajů</p>
		<p>
			Osobní údaje zpracováváme pouze způsobem a v rozsahu, ke kterému jste nám udělil/a souhlas, je-li souhlas titulem
			zpracování.
		</p>
		<p class="bold no-padding">Minimalizace a omezení zpracování osobních údajů</p>
		<p>
			Osobní údaje zpracováváme pouze v rozsahu, ve kterém je to nezbytné pro dosažení účelu jejich zpracování, a po
			dobu ne delší, než je nezbytné pro dosažení účelu jejich zpracování.
		</p>
		<p class="bold no-padding">Přesnost zpracovávaných osobních údajů</p>
		<p>
			Osobní údaje zpracováváme s důrazem na jejich přesnost, za použití dostupných opatření. A s použitím přiměřených
			prostředků zpracováváme aktualizované osobní údaje.
		</p>
		<p class="bold no-padding">Transparentnost</p>
		<p>
			Prostřednictvím těchto Zásad a kontaktní osoby máte možnost seznámit se se způsobem, jakým Vaše osobní údaje
			zpracováváme, jakož i s jejich rozsahem a obsahem.
		</p>
		<p class="bold no-padding">Účelové omezení</p>
		<p>
			Osobní údaje zpracováváme pouze v rozsahu nezbytném pro naplnění stanoveného účelu a v souladu s tímto účelem.
		</p>
		<p class="bold no-padding">Bezpečnost</p>
		<p>
			Osobní údaje zpracováváme způsobem, který zajišťuje jejich náležité zabezpečení, včetně jejich ochrany pomocí
			vhodných technických nebo organizačních opatření, před neoprávněným či protiprávním zpracováním a před náhodnou
			ztrátou, zničením nebo poškozením.
		</p>
		<p class="bold">8. Automatizované individuální rozhodování a profilování</p>
		<p>
			Při zpracování osobních údajů <b>nedochází</b> k automatizovanému individuálnímu rozhodování, a to ani na základě profilování.
		</p>
		<p class="bold">9. Vaše práva jako subjektu údajů</p>
		<p class="bold no-padding">Právo na přístup k osobním údajům</p>
		<p>
			Máte právo požadovat od nás přístup k osobním údajům týkajícím se Vaší osoby. Zejména máte právo získat od nás
			potvrzení, zda osobní údaje, které se Vás týkají, námi jsou či nejsou zpracovávány, a dále na poskytnutí dalších
			informací o zpracovávaných údajích a způsobu zpracování ve smyslu příslušných ustanovení GDPR (účel zpracování,
			kategorie osobních údajů, příjemci, plánovaná doba uložení, existence Vašeho práva požadovat opravu, výmaz,
			omezení zpracování nebo práva vznést námitku, zdroj osobních údajů a právo podat stížnost). V případě, že o to
			požádáte, poskytneme Vám kopii osobních údajů, které o Vás zpracováváme, a to bezplatně. V případě opakované
			žádosti můžeme za poskytnutí kopie účtovat přiměřený poplatek odpovídající administrativním nákladům na
			zpracování.
		</p>
		<p>
			Pro získání přístupu k Vašim osobním údajům využijte Váš uživatelský účet nebo kontaktů uvedených v těchto
			zásadách.
		</p>
		<p class="bold no-padding">
			Právo odvolat souhlas se zpracováním osobních údajů, pokud ke zpracování dochází na základě souhlasu
		</p>
		<p>
			Máte právo kdykoliv odvolat souhlas se zpracováním osobních údajů, které jsou námi na základě tohoto souhlasu
			zpracovávány.
		</p>
		<p>Odvolat souhlas můžete prostřednictvím Vašeho uživatelského účtu nebo kontaktů uvedených v těchto zásadách.</p>
		<p class="bold no-padding">Právo na opravu, omezení nebo výmaz</p>
		<p>
			Zjistíte-li, že námi o Vás vedené osobní údaje jsou nepřesné, můžete požadovat, abychom tyto údaje bez zbytečného
			odkladu opravili. Je-li to s ohledem na konkrétní okolnosti případu přiměřené, můžete rovněž žádat i doplnění
			údajů, které o Vás vedeme.
		</p>
		<p>
			Opravu, omezení zpracování nebo výmaz údajů můžete požadovat prostřednictvím Vašeho uživatelského účtu nebo
			kontaktů uvedených v těchto zásadách.
		</p>
		<p class="bold no-padding">Právo na výmaz osobních údajů</p>
		<p>
			Máte právo požadovat, abychom bez zbytečného odkladu vymazali námi zpracovávané osobní údaje, které se Vás týkají,
			a to v následujících případech:
		</p>
		<ul>
			<li>
				Odvoláte-li souhlas se zpracováním osobních údajů a na naší straně není dán žádný jiný oprávněný důvod pro
				jejich zpracování, který by převažoval nad Vaším právem na výmaz;
			</li>
			<li>vznesete-li námitku proti zpracování osobních údajů (viz níže);</li>
			<li>Vaše osobní údaje již nejsou potřebné pro účely, pro které jsme je shromáždili nebo jinak zpracovávali;</li>
			<li>osobní údaje byly námi zpracovány protiprávně;</li>
			<li>
				osobní údaje byly námi shromážděny v souvislosti s nabídkou služeb informační společnosti osobě mladší 18 let;
			</li>
			<li>
				osobní údaje musí být vymazány ke splnění právní povinnosti stanovené v právu Evropské unie nebo v českém
				právním řádu, která se na nás vztahuje.
			</li>
		</ul>
		<p>
			Požadovat výmaz v těchto případech můžete prostřednictvím Vašeho uživatelského účtu nebo kontaktů uvedených v
			těchto zásadách.
		</p>
		<p class="bold">Právo požadovat výmaz osobních údajů není dáno v situaci, kdy je zpracování nezbytné</p>
		<ul>
			<li>Pro výkon práva na svobodu projevu a informace;</li>
			<li>ke splnění našich právních povinností;</li>
			<li>z důvodů veřejného zájmu v oblasti veřejného zdraví;</li>
			<li>
				pro účely archivace ve veřejném zájmu, pro účely vědeckého či historického výzkumu nebo pro statistické účely,
				pokud je pravděpodobné, že by výmaz údajů znemožnil nebo vážně ohrozil splnění cílů uvedeného zpracování;
			</li>
			<li>pro určení, výkon nebo obhajobu právních nároků.</li>
		</ul>
		<p>
			Zda existují důvody nemožnosti využít právo na výmaz, se můžete dozvědět prostřednictvím Vašeho uživatelského účtu
			nebo kontaktů uvedených v těchto zásadách.
		</p>
		<p class="bold no-padding">Právo na omezení zpracování osobních údajů</p>
		<p>Máte právo na to, abychom omezili zpracování Vašich osobních údajů, a to v případech, kdy:</p>
		<ul>
			<li>
				popíráte přesnost osobních údajů. V tomto případě omezení platí na dobu potřebnou k tomu, abychom mohli přesnost
				osobních údajů ověřit.
			</li>
			<li>zpracování je protiprávní a odmítáte výmaz osobních údajů a žádáte místo toho o omezení jejich použití.</li>
			<li>
				Vaše osobní údaje již nepotřebujeme pro účely, pro které jsme je zpracovávali, ale Vy je požadujete pro určení,
				výkon nebo obhajobu právních nároků;
			</li>
			<li>
				vznesete námitku proti zpracování (viz níže). V tomto případě omezení platí na dobu, dokud nebude ověřeno, zda
				oprávněné důvody na naší straně převažují nad Vašimi oprávněnými důvody.
			</li>
		</ul>
		<p>
			V době omezení zpracování osobních údajů můžeme Vaše osobní údaje zpracovávat (s výjimkou jejich uložení) pouze s
			Vaším souhlasem, nebo z důvodu určení, výkonu nebo obhajoby našich právních nároků, z důvodu ochrany práv jiné
			fyzické nebo právnické osoby nebo z důvodů důležitého veřejného zájmu Unie nebo některého členského státu. Jak je
			uvedeno výše, omezení zpracování můžete požadovat prostřednictvím Vašeho uživatelského účtu nebo kontaktů
			uvedených v těchto zásadách.
		</p>
		<p class="bold no-padding">Právo vznést námitku proti zpracování</p>
		<p>Máte právo vznést námitku proti zpracování Vašich osobních údajů, a to v následujících případech:</p>
		<ul>
			<li>
				V případě, že jsou osobní údaje zpracovávány z důvodu, že je zpracování nezbytné pro splnění úkolu prováděného
				ve veřejném zájmu nebo při výkonu veřejné moci, kterým jsme pověřeni, nebo pro účely našich oprávněných zájmů, a
				Vy vznesete proti zpracování námitku, nemůžeme osobní údaje dále zpracovávat, pokud neprokážeme závažné
				oprávněné důvody pro zpracování, které převažují nad Vašimi zájmy, právy a svobodami, nebo pro určení, výkon
				nebo obhajobu našich právních nároků.
			</li>
			<li>
				Pokud jsou osobní údaje zpracovávány pro účely přímého marketingu a vznesete proti zpracování námitku, nebudeme
				již osobní údaje pro tyto účely zpracovávat.
			</li>
			<li>
				Jsou-li Vaše osobní údaje zpracovávány pro účely vědeckého či historického výzkumu nebo pro statistické účely,
				nebudeme je dále zpracovávat, ledaže je zpracování nezbytné pro splnění úkolu prováděného z důvodů veřejného
				zájmu.
			</li>
		</ul>
		<p>Námitku můžete podat prostřednictvím Vašeho uživatelského účtu nebo kontaktů uvedených v těchto zásadách.</p>
		<p class="bold no-padding">Právo na přenositelnost údajů</p>
		<p>
			V případě, že Vaše osobní údaje zpracováváme na základě Vašeho souhlasu či z důvodu, že je to nezbytné ke splnění
			smlouvy uzavřené mezi námi, máte právo od nás získat osobní údaje, které se Vás týkají, a které jste nám poskytli,
			a to ve strukturovaném, běžně používaném a strojově čitelném formátu, jsou-li tak osobní údaje námi zpracovávány.
			Máte právo předat tyto údaje jinému správci údajů nebo požadovat, abychom tyto údaje poskytli přímo jinému správci
			údajů, je-li to technicky proveditelné. Vaše osobní údaje můžete získat prostřednictvím Vašeho uživatelského účtu
			nebo kontaktů uvedených v těchto zásadách.
		</p>
		<p class="bold no-padding">
			Právo nebýt předmětem žádného rozhodnutí založeného výhradně na automatizovaném zpracování, včetně profilování
		</p>
		<p>Nepoužíváme osobní údaje k automatizovanému rozhodování.</p>
		<p class="bold no-padding">Právo získat informace o porušení zabezpečení Vašich osobních údajů</p>
		<p>
			Je-li pravděpodobné, že následkem porušení našeho zabezpečení bude vysoké riziko pro Vaše práva a svobody,
			oznámíme Vám toto porušení bez zbytečného odkladu. Pokud pro zpracování Vašich osobních údajů byla použita
			náležitá technická nebo organizační opatření zajišťující například nesrozumitelnost pro neoprávněnou osobu nebo
			bychom dodatečnými opatřeními zajistili, že se vysoké riziko neprojeví, informace o porušení Vám předávat
			nemusíme.
		</p>
		<p class="bold no-padding">Právo podat stížnost u dozorového úřadu</p>
		<p>
			Pokud se domníváte, že zpracováním Vašich osobních údajů dochází k porušení povinností stanovených v GDPR, máte
			právo podat stížnost u dozorového úřadu. Dozorovým orgánem v ČR je Úřad pro ochranu osobních údajů.
		</p>
		<p class="bold no-padding">Tyto Zásady ochrany osobních údajů jsou účinné od 01. 01. 2024.</p>
	</div>
</IndexLayout>

<style>
	.gdpr-content {
		padding-bottom: 60px;
		max-width: 900px;
		margin: auto;
	}

	h1 {
		font-size: var(--fs-60-28);
		font-weight: var(--fw-bold);
		line-height: var(--lh-1_2);
		background-image: linear-gradient(180deg, var(--color-blue-300) 20%, var(--color-blue-400) 95%);
		background-clip: text;
		color: transparent;
		text-align: center;
		padding-top: var(--padding-top-section);
		padding-bottom: 0.5em;
	}
	.page-header {
		padding-bottom: 40px;
	}

	.table {
		overflow-x: scroll;
		overflow-y: visible;
	}
	p,
	ul,
	table {
		font-size: var(--fs-14-14);
		line-height: var(--lh-1_5);
		font-weight: var(--fw-book);
		color: var(--color-white);
		padding-bottom: 1.5em;
	}
	p {
		text-align: justify;
		text-wrap: initial;
	}

	table {
		border-collapse: collapse;
		text-align: left;
		min-width: 100%;
		margin-bottom: 2em;
	}

	table th {
		background-color: var(--color-primary-400-14);
		text-align: center;
	}

	table td,
	table th {
		border: 1px solid var(--color-primary-400);
		padding: 0.75em;
	}

	.bold,
	b {
		font-weight: var(--fw-bold);
	}
	.no-padding {
		padding-bottom: 0;
	}
</style>

<script is:inline>
	document.addEventListener(
		"astro:page-load",
		function () {
			$("body").removeClass();
			$("body").addClass("gdpr-page");
		},
		{ once: true }
	);
</script>
