---
import IndexLayout from "../../layouts/IndexLayout.astro";
---

<IndexLayout title="NATIOS Kontakt">
	<div class="page-header">
		<h1>Privacy policy</h1>
	</div>

	<div class="gdpr-content">
		<p>
			Through this Privacy Policy (hereinafter referred to as the "Policy"), we inform the data subjects whose personal
			data we process about all processing activities and about the privacy protection principles of the data subjects.
		</p>
		<p class="bold">1. Responsible persons</p>
		<p>
			Personal data manager: <br />
			Natios Health, s.r.o., Reg. No: 28582292, with registered office at Daliborova 432/3, Ostrava 709 00, Czech republic
			<br />
			Contacts for exercising your rights: Phone: +420 558 274 254, E-mail: info@natios.cz <br />
			(hereinafter also referred to as “we”; “us” or “our” )
		</p>
		<p class="bold">2. Basic terms</p>
		<p class="bold no-padding">GDPR:</p>
		<p>
			Regulation (EU) 2016/679 of the European Parliament and of the Council 2016/679 on the protection of natural
			persons in connection with the processing of personal data and on the free movement of such data and on the repeal
			of Directive 95/46/EC effective from 25/05/2018.
		</p>
		<p class="bold no-padding">Personal data:</p>
		<p>
			Personal data in the sense of Regulation (EU) 2016/679 of the European Parliament and of the Council 2016/679 on
			the protection of natural persons in connection with the processing of personal data and on the free movement of
			such data and on the repeal of Directive 95/46/EC (hereinafter referred to as "GDPR") is understood all
			information about an identified or identifiable natural person (i.e. about the data subject = you).
		</p>
		<p class="bold no-padding">Special personal data:</p>
		<p>
			Special personal data means data on racial or ethnic origin, political opinions, religious or philosophical
			beliefs or trade union membership, processing of genetic data, biometric data for the purpose of unique
			identification of a natural person and data on the state of health or sex life or sexual orientation of a natural
			person persons.
		</p>
		<p class="bold no-padding">Data Subject = You:</p>
		<p>
			Data subject means an identified or identifiable natural person, whereby an identifiable natural person is a
			natural person who can be directly or indirectly identified, in particular by reference to a certain identifier,
			for example name, identification number, location data, network identifier or to one or more special elements of
			physical , physiological, genetic, psychological, economic, cultural or social identity of this natural person.
		</p>
		<p class="bold no-padding">Processing of personal data:</p>
		<p>
			Processing of personal data within the meaning of Article 4(2) of the GDPR means any operation or set of
			operations with personal data or sets of personal data which is carried out with or without the aid of automated
			procedures such as collection, recording, arrangement, structuring, storage, customization or alteration,
			retrieval, viewing, use, disclosure by transmission, dissemination or any other disclosure, arrangement or
			combination, restriction, erasure or destruction.
		</p>
		<p class="bold no-padding">Administrator:</p>
		<p>
			In the sense of Article 4, Paragraph 7 of the GDPR, a Administrator is a natural or legal person, public
			authority, agency or other entity that alone or jointly with others determines the purposes and means of personal
			data processing. We act as an administrator in relation to your personal data.
		</p>
		<p class="bold no-padding">Processor:</p>
		<p>
			A processor in the sense of Article 4, paragraph 8 of the GDPR means a natural or legal person, public authority,
			agency or other entity that processes personal data for the controller.
		</p>
		<p class="bold no-padding">Supervisory Authority:</p>
		<p>
			Supervisory authority in the Czech Republic means the Office for the Protection of Personal Data (hereinafter
			referred to as "ÚOOÚ").
		</p>
		<p class="bold no-padding">Risk processing:</p>
		<p>
			Risky processing means processing that is likely to pose a risk to the rights and freedoms of data subjects, the
			processing is not occasional, or includes the processing of special personal data or personal data related to
			judgments in criminal cases and offenses referred to in Article 10 of the GDPR.
		</p>
		<p class="bold no-padding">Automated individual decision-making incl. profiling:</p>
		<p>
			Automated individual decision-making incl. profiling generally means any form of decision based on the automated
			processing of personal data, i.e. without human intervention, consisting, among other things, of evaluating some
			personal aspects related to the data subject, especially for the purpose of analysis or estimation or analyzing or
			predicting aspects related to his work performance, economic situation, health status, personal preferences,
			interests, reliability, behavior, location or movement.
		</p>
		<p class="bold">3. Category of entities, processed personal data, purpose, legal basis and processing time</p>
		<p>We process personal data for a clearly defined purpose:</p>
		<div class="table">
			<table>
				<thead>
					<tr>
						<th><b>Categories of data subjects</b></th>
						<th><b>The purpose of personal data processing</b></th>
						<th><b>Legal basis and processed personal data</b></th>
						<th><b>Processing time</b></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td rowspan="4"><b>Our customers</b></td>
						<td>Fulfillment and implementation of contracts concluded with customers</td>
						<td
							>The legal basis is the <b>fulfillment of the contract.</b>
							<br />
							<br />
							Identification data (name, surname), contact data (delivery address or residential address, e-mail, telephone),
							accounting data (credit card number, bank account number), order history, IP address, cookies and account registration
							data, through which you log in, and data from the complaint form (product identification, product defects).
						</td><td
							>For this purpose, personal data may be processed for the duration of the contractual relationship and the
							warranty period.</td
						>
					</tr>

					<tr>
						<td>Exercising claims from contractual relationships after the termination of the contract</td>
						<td
							>The legal basis is <b>our legitimate interest</b> consisting of the right to collect claims, compensation
							for damage and other claims that may have arisen during the duration of our contractual relationship.
							<br />
							<br />
							Identification data (name, surname), contact data (delivery address or address of permanent residence, e-mail,
							telephone), accounting data (bank account number), order history, IP address, cookies and registration data
							for the account through which you log in , and data from the complaint form (product identification, product
							defects) are necessary after the termination of the contract for the processing of complaints, the collection
							of claims and other contractual obligations from the contracts concluded between us and these data subjects.
						</td>
						<td
							>For this purpose, personal data may be processed for a period of four years from the termination of the
							contractual relationship, in the case of legal proceedings, for the entire duration of the proceedings.
						</td>
					</tr>
					<tr>
						<td>Fulfilling our accounting and tax obligations</td>
						<td
							>The legal basis is the fulfillment of a <b>legal obligation</b> imposed on us by legal regulations such as
							the Accounting Act or the Value Added Tax Act.
							<br />
							<br />
							Identification data (name, surname), contact data (delivery address or address of permanent residence, e-mail,
							telephone), accounting data (bank account number and other information on tax documents).
						</td>
						<td
							>For this purpose, personal data may be processed for up to 10 years from the end of the tax period in
							which the performance provided to the customer took place.
						</td>
					</tr>
					<tr>
						<td
							>Dissemination of business communications in the form of professional information and reports, marketing
							materials, offers of our goods or services
						</td>
						<td
							>The legal basis is <b>our legitimate interest</b> to provide and offer you similar services or goods that
							meet your needs, based on our joint business relationship.
							<br />
							<br />
							The <b>identification and contact personal data of customers</b> is processed for the purpose of disseminating
							commercial messages.
						</td>
						<td>For this purpose, personal data may be processed for the duration of the contractual relationship.</td>
					</tr>
					<tr>
						<td rowspan="2"><b>Website visitors</b></td>
						<td>Statistics before data anonymization, display of advertisements for our services or goods</td>
						<td
							>The legal basis is <b>our legitimate interest</b> in the sense of a) improving our services and focusing on
							what really interests you; b) offer you similar services or goods that meet your needs, based on access to
							our website.
							<br />
							<br />
							Identification data (name, surname), contact data (address, e-mail, telephone), IP address and cookies.
						</td>
						<td>For this purpose, personal data may be processed for a period of 6 months.</td>
					</tr>
					<tr>
						<td>Sending a response to a website visitor's query</td>
						<td
							>The legal basis is <b>performance of the contract or your consent</b>
							<br />
							<br />
							Identification data (name, surname), contact data (address, e-mail, telephone), IP address and cookies, inquiry
							made through the form.
						</td>
						<td
							>For this purpose, personal data may be processed until the inquiry from the contact form is processed,
							but no longer than 30 days or the period for which your consent to the processing lasts.
						</td>
					</tr>
					<tr>
						<td><b>News subscribers</b></td>
						<td>Regular sending of commercial messages by e-mail</td>
						<td
							>The legal basis is the <b>consent</b> you gave us when registering for the newsletter. <br />
							<br />
							Identification data (name and surname), contact data (e-mail).
						</td>
						<td>For this purpose, personal data may be processed until consent is revoked.</td>
					</tr>
				</tbody>
			</table>
		</div>

		<p class="bold">4. Time of personal data processing</p>
		<p>
			We keep personal data only for the time necessary for the purpose of their processing - see the table above. After
			this period, personal data may only be kept for the purposes of the state statistical service, for scientific
			purposes and for archival purposes.
		</p>
		<p class="bold">5. Recipients of personal data and transfer of personal data outside the European Union</p>
		<p>
			In justified cases, we may transfer your personal data to other entities (hereinafter referred to as
			"recipients"). Personal data may be transferred to the following recipients:
		</p>
		<ul>
			<li>
				Processors who process your personal data according to our instructions, especially in the area of ​​contact
				with the public, electronic data management or accounting;
			</li>
			<li>public authorities and other entities, if required by valid legal regulation;</li>
			<li>
				other entities in the event of an unexpected event in which the provision of data is necessary for the purpose
				of protecting life, health, property or other public interest or if it is necessary to protect our rights,
				property or safety.
			</li>
		</ul>
		<p class="bold">6. Cookies</p>
		<p>
			After your first visit to our website, our server sends a small amount of data to your computer and stores it
			there. The browser then sends this data back to the server with each subsequent visit to the site. This small file
			is called a "cookie" and is a short text file containing a specific string of characters with unique information
			about your browser. We use cookies to improve the quality of our services and to better understand how people use
			our site. That is why we store user preferences in cookies and use them to monitor user trends and how people
			behave on our pages and how they view them.
		</p>
		<p>
			Most browsers are set to accept cookies. However, you have the option to set your browser to block cookies or to
			notify you when cookies are sent. However, some services or functions will not work properly without cookies.
		</p>
		<p>
			Our website uses "first-party" cookies, i.e. cookies used only by our website (hereinafter referred to as
			first-party cookies) and "third-party" cookies (i.e. cookies originating from third-party websites). We use
			first-party cookies to store user preferences and data, needed during your visit to the website (e.g. the contents
			of your shopping basket). We use third-party cookies to track user trends and patterns of behavior, target
			advertising, with the help of third-party providers of web statistics. Third-party cookies used to track trends
			and patterns of behavior are used only by our website and the web statistics provider, they are not shared with
			any other third party.
		</p>
		<p>In particular, we use the following cookies:</p>
		<ul>
			<li>Google Analytics</li>
			<li>Google AdWords</li>
			<li>Facebook Pixel</li>
			<li>Sklik</li>
		</ul>
		<p class="bold">7. Principles of personal data processing</p>
		<p class="bold no-padding">Legality</p>
		<p>We process your personal data in accordance with applicable legal regulations, especially GDPR.</p>
		<p class="bold no-padding">Consent of the data subject</p>
		<p>
			We process personal data only in the manner and to the extent to which you have given us consent, if consent is
			the title of processing.
		</p>
		<p class="bold no-padding">Minimization and limitation of personal data processing</p>
		<p>
			We process personal data only to the extent necessary to achieve the purpose of their processing and for no longer
			than is necessary to achieve the purpose of their processing.
		</p>
		<p class="bold no-padding">Accuracy of processed personal data</p>
		<p>
			We process personal data with an emphasis on their accuracy, using available measures. And we process updated
			personal data using reasonable means.
		</p>
		<p class="bold no-padding">Transparency</p>
		<p>
			Through these Policies and the contact person, you have the opportunity to familiarize yourself with the way in
			which we process your personal data, as well as with their scope and content.
		</p>
		<p class="bold no-padding">Purpose limitation</p>
		<p>
			We process personal data only to the extent necessary to fulfill the stated purpose and in accordance with this
			purpose.
		</p>
		<p class="bold no-padding">Safety</p>
		<p>
			We process personal data in a way that ensures their proper security, including their protection by means of
			appropriate technical or organizational measures, against unauthorized or illegal processing and against
			accidental loss, destruction or damage.
		</p>
		<p class="bold">8. Automated individual decision-making and profiling</p>
		<p>
			When processing personal data <b>there is no</b> automated individual decision-making, not even on the basis of profiling.
		</p>
		<p class="bold">9. Your rights as a data subject</p>
		<p class="bold no-padding">Right of access to personal data</p>
		<p>
			You have the right to request access to your personal data from us. In particular, you have the right to obtain
			confirmation from us as to whether personal data concerning you are or are not processed by us, as well as to
			provide additional information about the processed data and the method of processing in the sense of the relevant
			provisions of the GDPR (purpose of processing, category of personal data, recipients, planned storage period,
			existence of your right to request correction, erasure, restriction of processing or right to object, source of
			personal data and right to file a complaint). If you request it, we will provide you with a copy of the personal
			data we process about you, free of charge. In the event of a repeated request, we may charge a reasonable fee
			corresponding to the administrative costs of processing for providing a copy.
		</p>
		<p>To gain access to your personal data, use your user account or the contacts listed in this policy.</p>
		<p class="bold no-padding">
			The right to withdraw consent to the processing of personal data, if the processing is based on consent
		</p>
		<p>
			You have the right at any time to revoke your consent to the processing of personal data that is processed by us
			on the basis of this consent.
		</p>
		<p>You can withdraw your consent through your user account or the contacts listed in this policy.</p>
		<p class="bold no-padding">Right to rectification, restriction or erasure</p>
		<p>
			If you find that the personal data we hold about you is inaccurate, you can request that we correct this data
			without undue delay. If it is reasonable with regard to the specific circumstances of the case, you can also
			request the addition of the data we keep about you.
		</p>
		<p>
			You can request correction, restriction of processing or deletion of data through your user account or the
			contacts listed in this policy.
		</p>
		<p class="bold no-padding">The right to erasure of personal data</p>
		<p>
			You have the right to request that we delete the personal data we process concerning you without undue delay, in
			the following cases:
		</p>
		<ul>
			<li>
				If you revoke your consent to the processing of personal data and there is no other legitimate reason for their
				processing on our side that would override your right to erasure;
			</li>
			<li>if you object to the processing of personal data (see below);</li>
			<li>Your personal data is no longer needed for the purposes for which we collected or otherwise processed it;</li>
			<li>personal data were processed by us unlawfully;</li>
			<li>
				personal data were collected by us in connection with the offer of information society services to a person
				under the age of 18;
			</li>
			<li>
				personal data must be deleted to fulfill a legal obligation set out in the law of the European Union or in the
				Czech legal order that applies to us.
			</li>
		</ul>
		<p>You can request deletion in these cases through your user account or the contacts listed in these policies.</p>
		<p class="bold">
			Pthe right to request deletion of personal data is not given in a situation where processing is necessary
		</p>
		<ul>
			<li>To exercise the right to freedom of expression and information;</li>
			<li>to comply with our legal obligations;</li>
			<li>for reasons of public interest in the field of public health;</li>
			<li>
				for the purposes of archiving in the public interest, for the purposes of scientific or historical research or
				for statistical purposes, if it is likely that the deletion of the data would make it impossible or seriously
				jeopardize the fulfillment of the objectives of the said processing;
			</li>
			<li>for the determination, exercise or defense of legal claims.</li>
		</ul>
		<p>
			You can find out whether there are reasons for not being able to use the right to erasure through your user
			account or the contacts listed in this policy.
		</p>
		<p class="bold no-padding">Právo na omezení zpracování osobních údajů</p>
		<p>You have the right to restrict the processing of your personal data in cases where:</p>
		<ul>
			<li>
				you deny the accuracy of the personal data. In this case, the restriction applies for the time required for us
				to verify the accuracy of the personal data.
			</li>
			<li>
				the processing is unlawful and you refuse the erasure of the personal data and request the restriction of their
				use instead.
			</li>
			<li>
				We no longer need your personal data for the purposes for which we processed them, but you require them to
				determine, exercise or defend legal claims;
			</li>
			<li>
				you object to the processing (see below). In this case, the restriction applies until it is verified whether the
				legitimate reasons on our side outweigh your legitimate reasons.
			</li>
		</ul>
		<p>
			During the period of restriction of personal data processing, we may process your personal data (with the
			exception of their storage) only with your consent, or for the purpose of determining, exercising or defending our
			legal claims, for the purpose of protecting the rights of another natural or legal person or for reasons of
			important public interest of the Union or a member state. As mentioned above, you can request restriction of
			processing through your user account or the contacts listed in this policy.
		</p>
		<p class="bold no-padding">The right to object to processing</p>
		<p>You have the right to object to the processing of your personal data in the following cases:</p>
		<ul>
			<li>
				In the event that personal data is processed for the reason that the processing is necessary for the fulfillment
				of a task carried out in the public interest or in the exercise of public authority entrusted to us, or for the
				purposes of our legitimate interests, and you object to the processing, we cannot further to process unless we
				demonstrate serious legitimate grounds for processing that override your interests, rights and freedoms, or for
				the establishment, exercise or defense of our legal claims.
			</li>
			<li>
				If personal data is processed for direct marketing purposes and you object to the processing, we will no longer
				process the personal data for these purposes.
			</li>
			<li>
				If your personal data is processed for the purposes of scientific or historical research or for statistical
				purposes, we will not process it further, unless the processing is necessary to fulfill a task carried out for
				reasons of public interest.
			</li>
		</ul>
		<p>You can file an objection through your user account or the contacts listed in this policy.</p>
		<p class="bold no-padding">Right to data portability</p>
		<p>
			In the event that we process your personal data on the basis of your consent or because it is necessary to fulfill
			the contract concluded between us, you have the right to obtain from us the personal data that concern you and
			that you have provided to us, in a structured , a commonly used and machine-readable format, if personal data is
			processed by us. You have the right to transfer this data to another data controller or to request that we provide
			this data directly to another data controller if technically feasible. You can obtain your personal data through
			your user account or the contacts listed in this policy.
		</p>
		<p class="bold no-padding">
			The right not to be subject to any decision based solely on automated processing, including profiling
		</p>
		<p>We do not use personal data for automated decision making.</p>
		<p class="bold no-padding">The right to receive information about a breach of the security of your personal data</p>
		<p>
			If it is likely that a breach of our security will result in a high risk to your rights and freedoms, we will
			notify you of the breach without undue delay. If appropriate technical or organizational measures have been used
			to process your personal data, ensuring, for example, that it is not comprehensible to an unauthorized person, or
			if we have taken additional measures to ensure that a high risk does not manifest itself, we do not have to pass
			on information about the breach to you.
		</p>
		<p class="bold no-padding">The right to lodge a complaint with the supervisory authority</p>
		<p>
			If you believe that the processing of your personal data violates the obligations set out in the GDPR, you have
			the right to file a complaint with the supervisory authority. The supervisory authority in the Czech Republic is
			the Office for the Protection of Personal Data.
		</p>
		<p class="bold no-padding">This Privacy Policy is effective from 01/01/2024.</p>
	</div>
</IndexLayout>

<style>
	.gdpr-content {
		padding-bottom: 60px;
		max-width: 900px;
		margin: auto;
	}

	h1 {
		font-size: var(--fs-60-28);
		font-weight: var(--fw-bold);
		line-height: var(--lh-1_2);
		background-image: linear-gradient(180deg, var(--color-blue-300) 20%, var(--color-blue-400) 95%);
		background-clip: text;
		color: transparent;
		text-align: center;
		padding-top: var(--padding-top-section);
		padding-bottom: 0.5em;
	}
	.page-header {
		padding-bottom: 40px;
	}

	.table {
		overflow-x: scroll;
		overflow-y: visible;
	}
	p,
	ul,
	table {
		font-size: var(--fs-14-14);
		line-height: var(--lh-1_5);
		font-weight: var(--fw-book);
		color: var(--color-white);
		padding-bottom: 1.5em;
	}
	p {
		text-align: justify;
		text-wrap: initial;
	}

	table {
		border-collapse: collapse;
		text-align: left;
		min-width: 100%;
		margin-bottom: 2em;
	}

	table th {
		background-color: var(--color-primary-400-14);
		text-align: center;
	}

	table td,
	table th {
		border: 1px solid var(--color-primary-400);
		padding: 0.75em;
	}

	.bold,
	b {
		font-weight: var(--fw-bold);
	}
	.no-padding {
		padding-bottom: 0;
	}
</style>

<script is:inline>
	document.addEventListener(
		"astro:page-load",
		function () {
			$("body").removeClass();
			$("body").addClass("gdpr-page");
		},
		{ once: true }
	);
</script>
