---
import "../styles/style.css";
import "../styles/cssreset.css";
import { ViewTransitions } from "astro:transitions";

export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="cs">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="description" content="Natios Official Website" />
		<meta name="keywords" content="Natios, Supplements, Supplement" />
		<meta name="author" content="Filip Hošek" />
		<meta name="generator" content={Astro.generator} />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="stylesheet" href="https://use.typekit.net/exu7msj.css" />
		<slot name="scripts-header" />
		<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
		<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
		<title>{title}</title>
		<ViewTransitions />
	</head>
	<body>
		<div class="header"></div>
		<main class="container">
			<slot />
		</main>
	</body><style>
		.header {
			height: var(--header-height);
			background: black;
		}
	</style>
</html>
